<!-- customers/templates/customers/order_detail.html -->

{% extends 'customers_layout.html' %}
{% load i18n %}

{% block content %}
  <div class="container mt-4">
    <h1 class="mb-4">{% trans "Order Detail" %}</h1>
    <ul class="list-group list-group-flush mb-3">
      <li class="list-group-item list-group-item-secondary d-flex justify-content-between">
        <div class="w-50"><strong>{% trans "Order" %}</strong></div>
        <div class="w-50"><strong>{% trans "Status" %}</strong></div>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <div class="w-50">{% blocktrans with order_id=order.id customer_name=order.customer.name %}Order {{ order_id }} for {{ customer_name }}{% endblocktrans %}</div>
        <div class="w-50">{{ order.status }}</div>
      </li>
    </ul>
    <a href="{% url 'order_edit' order.pk %}" class="btn btn-sm btn-warning">{% trans "Edit" %}</a>
    <a href="{% url 'order_list' %}" class="btn btn-sm btn-secondary">{% trans "Back to Orders List" %}</a>
  </div>
{% endblock %}