<!-- customers/templates/customers/order_form.html -->

{% extends 'customers_layout.html' %}

{% block content %}
  <div class="container mt-4">
    <h1 class="mb-4">{{ order_form.instance.pk|yesno:"Edit Order,New Order" }}</h1>
    <form method="post">
      {% csrf_token %}
      <ul class="list-group list-group-flush mb-4">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="w-25">
            {{ order_form.customer.label_tag }} {{ order_form.customer }}
          </div>
          <div class="w-25">
            {{ order_form.status.label_tag }} {{ order_form.status }}
          </div>
        </li>
        {% for field in order_form %}
          {% if field.name != "customer" and field.name != "status" %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="w-25">{{ field.label_tag }}</div>
              <div class="w-25">{{ field }}</div>
              <div class="w-25 text-danger">{{ field.errors }}</div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="list-group list-group-flush mb-3">
        <li class="list-group-item list-group-item-secondary d-flex justify-content-between">
          <div class="w-25"><strong>Item Number</strong></div>
          <div class="w-25"><strong>Inventory</strong></div>
          <div class="w-25"><strong>Quantity</strong></div>
        </li>
        {{ formset.management_form }}
        {% for form in formset %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="w-25">
              {{ form.id }}
              {{ form.instance.pk }}
            </div>
            <div class="w-25">
              {{ form.inventory.label_tag }} {{ form.inventory }}
            </div>
            <div class="w-25">
              {{ form.quantity.label_tag }} {{ form.quantity }}
            </div>
            <div class="w-25 text-danger">
              {{ form.inventory.errors }}
              {{ form.quantity.errors }}
            </div>
          </li>
        {% endfor %}
      </ul>
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="{% url 'order_list' %}" class="btn btn-success">Finished</a>
      <a href="{% url 'order_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
{% endblock %}