<!-- customers/templates/customers/order_form.html -->

{% extends 'customers_layout.html' %}
{% load i18n %}

{% block content %}
  <div class="container mt-4">
    <h1 class="mb-4">
      {% if order_form.instance.pk %}
        {% trans "Edit Order for" %} {{ vendor.name }}
      {% else %}
        {% trans "New Order for" %} {{ vendor.name }}
      {% endif %}
    </h1>
    <form method="post">
      {% csrf_token %}
      <ul class="list-group list-group-flush mb-4">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="col-6">
            {{ order_form.customer.label_tag }} {{ order_form.customer }}
          </div>
          <div class="col-6">
            {{ order_form.status.label_tag }} {{ order_form.status }}
          </div>
        </li>
        {% for field in order_form %}
          {% if field.name != "customer" and field.name != "status" %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="col-6">{{ field.label_tag }}</div>
              <div class="col-6">{{ field }}</div>
              <div class="col-6 text-danger">{{ field.errors }}</div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="list-group list-group-flush mb-3">
        <li class="list-group-item list-group-item-secondary d-flex justify-content-between">
          <div class="col-4"><strong>{% trans "Inventory" %}</strong></div>
          <div class="col-4"><strong>{% trans "Quantity" %}</strong></div>
          <div class="col-4"><strong>{% trans "Price" %}</strong></div>
        </li>
        {{ formset.management_form }}
        {% for form in formset %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ form.id }}
            <div class="col-4">
              {{ form.inventory }}
            </div>
            <div class="col-4">
              {{ form.quantity }}
            </div>
            <div class="col-4">
              {{ form.price }}
            </div>
            <div class="col-6 text-danger">
              {{ form.inventory.errors }}
              {{ form.quantity.errors }}
              {{ form.price.errors }}
            </div>
          </li>
        {% endfor %}
      </ul>
      <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
      <a href="{% url 'order_list' %}" class="btn btn-success">{% trans "Finished" %}</a>
      <a href="{% url 'order_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
    </form>
  </div>
{% endblock %}