<!-- inventory/templates/inventory/inventory_form.html -->

{% extends 'inventory_layout.html' %}
{% load i18n %}

{% block content %}
  <div class="container mt-4">
    <h1 class="mb-4">
      {% if form.instance.pk %}
        {% trans "Edit Inventory Item" %}
        {% else %}
        {% trans "New Inventory Item" %}
        {% endif %}
      </h1>
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="id_product" class="form-label">{% trans "Product: " %}</label>
          {{ form.product }}
        </div>
        <div class="mb-3">
          <label for="id_quantity" class="form-label">{% trans "Quantity: " %}</label>
          {{ form.quantity }}
        </div>
        <div class="mb-3">
          <label for="id_cost_price" class="form-label">{% trans "Cost Price: " %}</label>
          {{ form.cost_price }}
        </div>
        <div class="mb-3">
          <label for="id_description" class="form-label">{% trans "Description: " %}</label>
          <textarea id="id_description" name="description" class="form-control" rows="5">{{ form.description.value|default_if_none:'' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        <a href="{% url 'inventory_list' %}" class="btn btn-secondary mt-3">{% trans "Cancel" %}</a>
      </form>
    </div>
  {% endblock %}