{% extends 'layout.html' %}

{% block title %}
    Product 
{% endblock %}
{% block content %}
<table class=table>
    <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Vendor</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.vendor }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if user.is_staff and user.is_superuser %}
<form class="form-with-validation" method="POST">
    <h4>Add a New Product</h4>
    <hr>
    {% csrf_token %}
    {{ form }}
    <br>
    <button class="form-submit" type="submit">Add</button>
</form>
{% else %}
{% endif %}
{% endblock %}

