{% extends 'posts_layout.html' %}
{% load i18n %}

{% block title %}
  {% trans "Posts" %}
{% endblock %}

{% block content %}
  <div class="container">
    <section>
      <h1>{% trans "Posts" %}</h1>

      {% for post in posts %}
        <article class="post">
          <h2><a href="{% url 'posts:page' post.id %}">{{ post.title }}</a></h2>
          <p>{{ post.date }} by {{ post.author }}</p>
          <p>{{ post.body|linebreaks }}</p>
        </article>
      {% endfor %}
    </section>
  </div>
{% endblock %}
